//grid
@import '../../../globalMixins.scss';

.container-fluid {
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
    z-index: 2;
}

.col-3 {
    justify-content: flex-end;
    width: 25%;

    >label {
        @include boldfont;
        font-size: 0.9em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 0.6em;
    }

}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    padding: 0 12px;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.j-center {
    justify-content: center;
}

.j-right {
    justify-content: flex-end;
}

.w-100 {
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    box-shadow: 0px 3px 5px #00000033;
}

@import "../../../globalMixins.scss";

.wrapper>div:nth-child(1)>div {
    display: flex;
}

.wrapper>div:nth-child(1) {
    display: flex;
}

.logo {
    img {
        cursor: pointer;
        @include transition;
        height: 2.2em;
        object-fit: contain;
        filter: var(--backward-invert);
        margin: auto;
    }

    a {
        @include transition;
        @include boldfont;
        font-size: 1.3em;
        margin: auto;
        margin-left: 0.5em;
        color: var(--textcolor);
        cursor: pointer;
    }

    a:hover {
        color: var(--secondarycolor);
    }

    a:active,
    img:active {
        transform: scale(0.95);
    }
}

.tab {
    width: 100%;
    height: 100%;

    ul li>a {
        transition: all 0.3s ease;
        color: var(--textcolor);
        text-decoration: none;
        padding: 10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    ul li {
        margin: auto;
        font-weight: 425;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        transition: 0.2s ease-out;
        -webkit-transition: 0.2s ease-out;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
    }

    ul li:active {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    ul li:hover,
    ul li>a.selected {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
        cursor: pointer;
        background-color: rgba(249, 58, 96, 0.986);
    }

    ul li>a.selected {
        color: white;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    ul li:hover>a {
        color: white;
    }
}

.user-logo {
    margin: auto;
    margin-right: 1em;
    margin-left: 0;

    align-items: center;

    >svg {
        margin-right: 0.3em;
        height: 1.7em;
        background-color: var(--backgroundcolor);
    }

    svg {
        color: var(--textcolor);
    }

    * {
        cursor: pointer;
    }
}

.responsive-btn {
    // width: 80%;
    // display: block
    display: flex;
    justify-content: end;

    button {
        width: 55px;
        height: 55px;
        border: 5px solid #91c5d978;
        background: none;
        border-radius: 10px;
        font-size: 1.5em;
        color: #5b5959;
        display: none;
    }
}

.Toggle-responsive {
    position: relative;
}

div.Toggle-responsive>div:nth-child(1)>div {
    display: flex;
}

div.Toggle-responsive>div:nth-child(1)>div>ul {
    margin: auto;
    justify-content: space-evenly;
    gap: 10px;
}

.Toggle-responsive>div:nth-child(2) {
    display: flex;
}

// .logo_ {
//     >label {
//         margin: auto;
//         height: auto;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//     }
// }

.dropdown-menu {
    @include dropdown_animation;
    z-index: 2;
    position: absolute;
    right: 3em;
    top: 3em;
    padding: 16px 16px 16px 25px;
    border-radius: 8px;
    box-shadow: 2px 1px 4px 0 #9f9898ef;
    background-color: var(--backgroundcolor);
    display: flex;
    flex-direction: column;

    >label {
        @include boldfont;
        opacity: 0.6;
        font-size: 0.8em;
        padding: 0.5em;
        text-align: center;
        display: none;
    }

    ul a {
        color: var(--textcolor);
        width: 100%;
        padding: 8px;
        padding-right: 100px;
        border-radius: 8px;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    ul a:hover {
        color: white;
        background-color: rgba(249, 58, 96, 0.986);
    }
}

@media screen and (max-width: 1100px) {

    .col-3 {
        >label {
            display: none;
        }

    }

    .container {
        background-color: var(--backgroundcolor);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    div.Toggle-responsive>div:nth-child(1)>div>ul {
        margin: 0;
        width: 100%;
    }

    div.Toggle-responsive>div:nth-child(1)>div>ul li {
        text-align: left;
    }

    .Toggle-responsive {
        padding-bottom: 1em;
        width: 100%;
    }

    .responsive-btn {
        width: 80%;
        display: flex;
        justify-content: end;

        button {
            cursor: pointer;

            width: 2em;
            height: 2em;
            border: 5px solid #91c5d991;
            opacity: 0.8;
            background: none;
            border-radius: 10px;
            font-size: 1.5em;
            color: #5b5959;
            margin: auto;
            margin-right: 0.1em;
            display: flex;
            justify-content: center;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            svg {
                margin: auto;
            }

        }

        button:hover {
            background-color: #91c5d9;
            opacity: 1;
        }

        button:hover>svg {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
            -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
        }
    }

    .wrapper .col-9,
    .wrapper .col-1,
    .wrapper .col-3 {
        width: 100%;
    }

    .tab ul {
        display: block;
    }

    .user-logo {
        position: fixed;
        bottom: 1.5em;
        right: 1.5em;
        align-items: center;
        justify-content: end;
        padding-left: 27px;
        transform: scale(1.5);

        >svg {
            @include RoundBorder;
            box-shadow: 0 0 5px var(--btncolor);
            @include slide_left_animation;
            @include transition;
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            display: none;
            // margin-left: 7px;
            // color: #817e7e;
        }

        &:active svg {
            transform: scale(0.99);
            -webkit-transform: scale(0.99);
            -moz-transform: scale(0.99);
            -ms-transform: scale(0.99);
            -o-transform: scale(0.99);
        }
    }

    .dropdown-menu {
        @include dropup_animation;

        padding: 16px 16px 16px 25px;
        border-radius: 8px;
        box-shadow: 2px 1px 4px 0 #9f9898ef;
        position: fixed;
        right: 3em;
        bottom: 4em;
        top: auto;
        z-index: 100;

        >label {
            display: block;
        }

        ul li {
            width: 100%;
            padding: 8px;
            padding-right: 100px;
            border-radius: 8px;
        }

        ul li:hover {
            background-color: rgba(249, 58, 96, 0.986);
            transition: all 0.5s ease-in;
        }
    }
}