@import "../../../Components/globalMixins.scss";

.base{
    padding: 3em;

    >.header{
        background-color: var(--secondarycolor); 
        padding: 2px;
        height: 3em;
        padding-top: 13px;
        width: 10em;
        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        @include SlightRoundBorder;
        >p{
            display: flex;
            justify-content: center;
            align-items: center;
            @include boldfont;
            height: auto;
            color: var(--backgroundcolor); // Change to desired text color
            font-size: 18px; // Change to desired text size
            font-weight: bold; // Change to desired text weight
            text-align: center; // Center the text horizontally
        }
    }
    >button{
        @include btn;
        display: inline-block;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        float:right;
    }
    
    >section{
        color: red;
        margin-top: 3em;
    }
}
