@import '../mixins.scss';






.code{

    @include gradientBackground();


    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;


    > div{
        @include SlightRoundBorder;
        @include slide_right_animation;

        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: auto;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 0 5px #000000ab;

        > div:nth-child(1){
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top : 2em;

            h1{
                margin-top: 0.8em;
                @include boldfont;
                font-size: 1.5em;
                opacity: 0.8;
            }

            p{
                margin: auto;
                font-size: 0.9em;
                width: 60%;
            }

            img{
                margin : auto;
                height : 6em;
            }

        }

        > div.load{

            div{
                @include loading_circle;
            }
        }

        > div:nth-child(2){
            margin-top: 2em;
            margin-bottom: 2em;
            flex : 1;
            display: flex;
            justify-content: center;
            gap : 0.5em;

            > *{
                margin-top: auto;
                margin-bottom: auto;
            }

            input::-webkit-inner-spin-button {

                // Disable the increment bar of the number <input>
                display: none;
            }

            .clickable{
                pointer-events: auto;
            }
            .active{
                opacity: 1;
            }

            input{

                @include SquareRoundBorder;
                @include transition;
                @include boldfont;
                font-weight: bold;
                height : 2.5em;
                width: 2.5em;
                text-align: center;
                border : 2px solid black;
                pointer-events: none;
                opacity: 0.2;

                &::-webkit-input-placeholder

                {
                    text-align: center

                }

                &::-moz-placeholder{
                    text-align: center;
                }

            }
            svg{
                opacity: 0.5;
                width: 0.5em;
                height: 0.5em;
            }

        }

        > div:nth-child(3){
            display: flex;
            justify-content: center;
            font-size: 0.9em;
            height : 2em;
            label{
                @include shaking_label;
                color : tomato;
            }
        }

        > div:nth-child(4){
            display: flex;
            justify-content: center;
            text-align: center;
            padding-bottom: 1em;
            margin-bottom: 1em;


            div{
                @include loading_circle;
                margin: auto;
            }

            label.sent{
                @include dropdown_animation;

                opacity: 1;
                font-size: 1em;
                color : #007bff;
                font-weight: bold;
                &::after{
                    display: none;
                }
            }

            label{
                @include transition;
                @include dropup_animation;

                cursor: pointer;
                font-size: 0.9em;
                color: black;
                opacity: 0.5;
                position: relative;
                padding-bottom: 5px;
                user-select: none;

                &:active{
                    font-size: 0.8em;
                }

                &::after{
                    content: "";
                    width: 0;
                    height: 2px;
                    position: absolute;
                    border-radius: 10px;
                    bottom: 0;
                    margin : auto;
                    right : 0;
                    left: 0;
                    transition: all 300ms ease;
                }

                &:hover{
                    font-weight: bold;
                    color : #007bff;
                    opacity: 1;

                    &::after{
                        background-color: #007bff;
                        width: 100%;
                    }

                }
            }
        }

    }


}