@import "../../../../Components/globalMixins.scss";

.loader {
	@include loading_circle;
}

.container {
	padding: 1em;

	h1 {
		@include boldfont;
		color: var(--textcolor);
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

	p {
		color: var(--textcolor);

		@include boldfont;
		opacity: 0.8;
		margin-bottom: 1em;
		font-size: 0.7em;
	}

	button {
		@include btn;
	}

	> div {
		div:not(.loader) {
			width: 40%;
			margin-bottom: 1em;
		}
		margin-bottom: 4em;
	}
}
