//Grid
.container-fluid {
	width: 100%;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

[class*="col-"] {
	padding: 0 12px;
}

.d-flex {
	display: flex;
}

.f-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.j-center {
	justify-content: center;
}

.j-right {
	justify-content: flex-end;
}

.w-100 {
	width: 100%;
}

//Profile
.container {
	padding: 30px;
}

.title {
	font-weight: bold;
}

.tab .ul {
	margin-top: 2rem;
}

.tab ul a {
	padding: 15px 50px 12px 36px;
	display: block;
	border-radius: 8px;
	margin: 1rem 0;
	font-size: 1.5rem;
	color: #fff;

	&:not(.selected):hover {
		cursor: pointer;
		background-color: var(--blurborder);
	}

	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.content {
	width: 100%;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #000;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

@import "../../Components/globalMixins.scss";

.setting {

	h1,
	p {
		color: var(--textcolor);
	}

	ul a {
		color: var(--textcolor);
		@include transition;

		&:active {
			transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-moz-transform: scale(0.9);
			-ms-transform: scale(0.9);
			-o-transform: scale(0.9);
		}

		&:hover {
			color: var(--backgroundcolor);
		}
	}

	.selected {
		background-color: var(--secondarycolor);
		color: var(--backgroundcolor);
	}

	>div:nth-child(2) {
		>div:nth-child(1) {
			@include dropdown_animation;
			padding: 1em;

			h1 {
				padding: 0.2em;
				padding-top: 0;
				@include lightfont;
				border-bottom: 1px solid var(--textcolor);
				font-size: 2em;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.container {
		padding: 0;
		height: 100%;
		position: relative;
	}

	.setting {
		>div:nth-child(1) {
			@include dropup_animation;
			position: absolute;
			width: 100%;
			height: 3em;
			bottom: 0;
			right: 0;
			padding: 0;
			background-color: var(--backgroundcolor);
			box-shadow: 0 0 5px var(--blurborder);
			z-index: 1;

			.selected,
			ul a:hover {
				@include SlightRoundBorder;
				padding: 0.5em;
				opacity: 1;
				color: var(--backgroundcolor);
			}

			.selected {
				background-color: var(--secondarycolor);
			}

			ul a:hover {
				background-color: var(--blurborder);
			}

			div,
			ul {
				height: 100%;
			}

			ul {
				display: flex;
				justify-content: space-evenly;
			}

			ul a {
				@include boldfont;
				border-radius: 0px;
				opacity: 0.5;
				font-size: 0.8em;
				margin: auto;
				color: var(--textcolor);
				display: unset;
				padding: 0;
				background-color: transparent;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				-ms-border-radius: 0px;
				-o-border-radius: 0px;
			}
		}

		>div:nth-child(2) {
			overflow: auto;
			overflow-x: hidden;
			width: 100%;
			position: absolute;
			top: 0;
			height: 100%;
			height: calc(100% - 3em);
		}
	}

	.title {
		font-weight: bold;
	}

	.tab .ul {
		margin-top: 2rem;
		display: flex;
	}

	.tab ul li {
		padding: 15px 50px 12px 36px;
		// display: block;
		background-color: #00000089;
		border-radius: 8px;
		/* font-size: 16px; */
		margin: 1rem 0;
		font-size: 1.5rem;
		color: #fff;

		&:hover {
			cursor: pointer;
			background-color: crimson;
		}
	}
}