@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


:root{
    --Roboto: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    --imgcolor : white;
    --textcolor : black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

li
{
    text-decoration: none;
}

button,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: val(--Textcolor);
    text-decoration: none;
}

html{
    font-size: 65%;
    width: 100%;
    height: 100%;
}

body{
    font-family: var(--Roboto);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    width: 100%;
    height: 100%;

}