@import '../../Components/globalMixins.scss';



.subid {
     position: relative;
     overflow: auto;
     overflow-x: hidden;
     height: 100%;
     width: calc(100% - 4em);
     margin: 2em;

     padding-bottom: 2em;

     >h1 {
          @include boldfont;
          @include slide_left_animation;
          color: var(--textcolor);
     }


     >div:has(h2) {
          @include lightfont;
          color: var(--textcolor);
          display: flex;
          justify-content: flex-start;
          gap: 0.6em;
          font-size: 0.8em;
          opacity: 0.8;

          h2 {
               font-size: 1em;
               font-weight: bold;
               color: var(--secondarycolor);
          }
     }



}

.loader {
     @include waiting_circle;
}


.paginate {
     margin: auto;
     margin-top: 1em;
     display: flex;
     justify-content: center;

     button {
          color: var(--textcolor);
          border: 1px solid var(--blurborder);
     }

     button[aria-current="true"] {
          font-weight: bold;
          color: white;
          background-color: var(--secondarycolor) !important;
     }

}

.table {
     @include table_style;
     height: 35em;
     margin-top: 1.5em;
     position: relative;


     >div:nth-child(1) {
          height: 5em;
     }


     >div:nth-child(2)>div {

          * {
               cursor: pointer;

          }

          @include transition;

          &:hover {
               filter: invert(1);
               transform: scale(1.02);
          }

          &:active {
               transform: scale(0.95);
          }
     }

     >div:nth-child(2)>div>div {
          display: flex;
          gap: 0.5em;

          svg {
               @include transition;
               margin: auto;
               margin-left: 0.5em;
               cursor: pointer;
               padding: 0.5em;
          }

          svg:hover {
               @include SlightRoundBorder;
               background-color: var(--backgroundcolor);
               filter: invert(1);
          }

     }

}


.addbtn {
     @include transition;
     @include RoundBorder;
     @include slide_right_animation;
     position: absolute;
     height: 2.5em;
     width: 2.5em;
     background-color: var(--btncolor);
     display: flex;
     right: 1em;
     top: 1em;
     cursor: pointer;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.713);

     svg {
          @include transition;
          height: 1.2em;
          width: 1.2em;
          margin: auto;
          color: var(--backgroundcolor);
     }

     &:hover {
          background-color: crimson;

          svg {
               color: white;
          }

          transform: scale(1.09);
     }

     &:active {
          transform: scale(0.95);
     }

}


@media screen and (max-width: 1100px) {

     .subid {
          position: fixed;
          bottom: 0;
          left: 0;
          height: calc(100% - 66.531px);
          padding: 0;
          margin: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          >div:not(.table) {
               margin-left: 1em;
               margin-right: 1em;
          }

          h1 {
               padding-top: 0.5em;
               padding-left: 0.4em;
          }

     }

     .addbtn {
          margin-top: 1em;
     }

     .table {
          @include responsive_table;
          display: flex;

          >div:nth-child(1) {
               flex: 1;
          }

          >div:nth-child(2) {
               flex: 2;
          }
     }

}