@import '../../Components/globalMixins.scss';

.doc {
     @include transition;
     @include SlightRoundBorder;


     >div {
          display: flex;
          flex-direction: row;
          gap: 1em;
     }

     svg {
          @include transition;
          cursor: pointer;
          height: 1.3em;
          width: 1.3em;
          color: var(--textcolor);
          // background-color: blue;
          padding: 5px;

          &:hover {
               @include SquareRoundBorder;
               background-color: var(--backgroundcolor);
               filter: invert(1);
          }

          &:active {
               transform: scale(0.9)
          }

     }


}

.submission {

     height: 100%;
     width: calc(100% - 4em);
     margin: 2em;

     padding-bottom: 2em;

     >h1 {
          @include boldfont;
          @include slide_left_animation;
          color: var(--textcolor);
     }

     >div {
          @include table_style;
          height: 45em;
          margin-top: 1em;
     }


}