@import '../../../../Components/globalMixins.scss';

.backbtn {
    @include RoundBorder;
    @include transition;
    color: var(--textcolor);
    background-color: var(--backgroundcolor);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    cursor: pointer;

    svg {
        cursor: pointer;
        margin: auto;
    }

    &:hover {

        filter: invert(1);
    }
}

.base {
    padding: 4em;

    >div {
        display: flex;

        >h1 {
            margin: auto;
        }
    }

    >section {
        display: flex;
        flex-direction: column;
        gap: 10px;

        >label {
            @include boldfont;
            color: var(--textcolor);
        }
    }

    .wrapbutton {
        display: flex;

        >button {
            @include btn;
            margin: auto;
            font-size: large;
            width: 10em;
            margin-top: 3em;
        }
    }
}

@media screen and (max-width : 1100px) {

    h1 {
        text-align: right;
    }

    .base {
        padding-top: 9em;
    }

    .backbtn {
        position: absolute;
        top: 10em;
    }

}