@import '../mixins.scss';


.r{
    @include gradientBackground;
    position: fixed;
    height: 100%;
    width: 100%;
    display : flex;

    @keyframes loading {
        from {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }
    }


    div{
        margin : auto;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        border: 5px solid white;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        animation: loading 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        -webkit-animation: loading 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

}