@import "../../Components/globalMixins.scss";

.tandc {
    @include gradientBackground;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;

    > div {
        @include SlightRoundBorder;
        height: 60%;
        width: 70%;
        background-color: var(--backgroundcolor);
        margin : auto;
    }
}
